<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Introduction Vue.js</title>
    <meta name="description" content="Vue.js Introduction">
    <meta name="author" content="Eddy">
    <!--   <link rel="stylesheet" href="css/styles.css?v=1.0">
 -->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container panel panel-default">
        <div class="row panel-heading">
            <div class="col-xs-12 text-center">
                <h1>Contact list</h1>
            </div>
        </div>
        <div class="row panel-body">
            <div class="col-xs-12 col-sm-6">
                <div class="col-xs-12 text-center">
                    <h2>Contacts</h2>
                </div>

                    

                <div class="col-xs-12">
                    <a class="" @click="newImport = true" v-if="!newImport">Importer des contact</a>
                    <a class="" @click="newImport = false" v-else>Annuler</a>

                    <label class="btn btn-default" v-if='newImport'>
                        Browse <input type="file" hidden v-on:change='importCSV'>
                    </label>
                </div>

                <ul class="col-xs-12 list-group">
                    <li class="list-group-item" v-bind:class="{active: contact == selectedContact}"
                        v-for="contact in contactsList" v-bind:key="contact.id" @click="selectContact(contact)">
                        {{contact.firstname}}
                    </li>
                </ul>
                <a v-if="contactAction == 'view'" @click="contactAction = 'add'; selectedContact = {}">Ajouter un
                    contact</a>


                <a class="pull-right" v-if="contactsList.length > 0" @click="exportCSV">Exporter les contact</a>

            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="col-xs-12  text-center">
                    <h2>Informations</h2>
                </div>
                <div v-if="selectedContact">
                    <div v-if="contactAction == 'view'" class="btn-group pull-right" role="group" aria-label="...">
                        <button type="button" class="btn btn-xs btn-warning"
                            @click="contactAction = 'edit'">Editer</button>
                        <button type="button" class="btn btn-xs btn-danger"
                            @click="deleteContact(selectedContact.id)">Suprimer</button>
                    </div>
                    <table class="col-xs-12">
                        <thead>
                            <tr>
                                <th>Id : </th>
                                <td v-if="contactAction == 'view'">{{ selectedContact.id }}</td>

                            </tr>
                            <tr>
                                <th>Prénom : </th>
                                <td v-if="contactAction == 'view'">{{ selectedContact.firstname }}</td>
                                <td v-else><input type="text" v-model="selectedContact.firstname" /> </td>

                            </tr>
                            <tr>
                                <th>Nom : </th>
                                <td v-if="contactAction == 'view'">{{ selectedContact.lastname }}</td>
                                <td v-else><input type="text" v-model="selectedContact.lastname" /> </td>
                            </tr>
                            <tr>
                                <th>Téléphone : </th>
                                <td v-if="contactAction == 'view'">{{ selectedContact.phone }}</td>
                                <td v-else><input type="text" v-model="selectedContact.phone" /> </td>
                            </tr>
                            <tr v-if="contactAction != 'view'">
                                <th></th>
                                <td>
                                    <button class="btn btn-default" @click="saveContact">Enregistré</button>
                                </td>

                            </tr>
                            <tr v-if="contactAction != 'view'">
                                <th></th>
                                <td>
                                    <button class="btn btn-default" @click="contactAction = 'view'">Annuler</button>
                                </td>
                            </tr>

                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>

</html>